.header {
  display: block;
  .header__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    position: relative;
  }
  .header__close {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 60px;
    width: 60px;
    left: 0;
    font-size: 45px;
    color: rgb(48, 48, 48);
  }


  .header__headings-wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p:first-child {
      font-weight: bold;
      font-size: 13px;
      color: #FFFFFF;
      letter-spacing: 1.73px;
      text-align: center;
      margin: 0 0 5px;
    }
    p:last-child {
      font-weight: 400;
      font-size: 22px;
      color: rgba(43, 43, 43, 0.8);
      letter-spacing: 1.6px;
      text-align: center;
      margin: 20px;
    }
  } 
}
