
.signup_container__wrap {
  margin-top: 50vh;
  transform: translateY(-70%);
}
.signup__container {
  display: flex;
  border: 1px solid #CED4DA;
  border-radius: 8px;
  max-width: 340px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 14px 10px;
  form {
    margin: auto;
  }
  .login__btn-wrap {
    position: relative;
    left: 0;
    right: 0;
    margin-top: 20px;
    width: 100%;
    button {
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
